html, body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: 'Merriweather', Georgia, serif; */
  font-size: 12px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #FAFAFA; 
}

